._Active_1b0d4b {
    color: black !important;
    /* Text color */
    background-color: white !important;
    /* Optional: white background */
}

._ReactTransliterate_1b0d4b {
    background-clip: padding-box;
    background-color: #171616 !important;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    display: block;
    font-size: 14px;
    list-style: none;
    padding: 1px;
    text-align: left;
    z-index: 20000;
    width: 100%;
}